@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;

  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(220, 238, 255),
    rgb(114, 210, 255)
  );
}
h3 {
  text-align: center;
  font-size: 2.5rem;
  color: rgb(88, 89, 90);
  margin: 1rem;
}
form {
  margin: 2rem auto;
  background: rgb(218, 247, 248);
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  text-align: center;
}
.Patient_register {
  width: 45%;
}
.Donor_register {
  width: 45%;
}
.login {
  width: 35%;
}
input {
  font-size: 1rem;
  margin-left: 1rem;
}
fieldset {
  padding: 0.5rem;
}
legend {
  font-size: 1rem;
}
button {
  font-size: 1rem;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
}
